alembic
black
cherrypy
click
cookiecutter
environs
fastapi[all]
flake8
flake8-assert-msg
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-executable
flake8-isort
flake8-pytest-style
flake8-raise
flake8-string-format
flake8_implicit_str_concat
httpie
marshmallow
markdown
neovim
nodejs
nose
psycopg2-binary
pydantic
pydocstyle
pymongo
python-dateutil
pylint
pytest
pytest-cov
pytest-mccabe
pytest-timeout
rich
shortuuid
six
setuptools_scm
sqlalchemy
toml
urllib3
uvicorn
