alembic
black
cherrypy
click
clientai[ollama]
cookiecutter
debugpy
environs
fastapi[all]
flake8
flake8-assert-msg
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-executable
flake8-isort
flake8-pytest-style
flake8-raise
flake8-string-format
flake8_implicit_str_concat
httpie
marshmallow
markdown
neovim
nodejs
nose
numpy~=1.26.4
ollama
oterm
packaging<21.0,>=20.4
platformdirs<3.0.0,>=2.5.2
psycopg2-binary
pudb
pydantic
pydocstyle
pymongo
python-dateutil
pylint
pytest
pytest-cov
pytest-mccabe
pytest-timeout
requests-toolbelt<0.9.0,>=0.8.0
requests
rich
selenium
setuptools_scm
setuptools>=75.0.1
shortuuid
six
sqlalchemy
sqlmodel
textual
textual-dev
toml
typer
urllib3<2.0.0,>=1.26.0
uvicorn
wheel~=0.37.1
