alembic
black
cherrypy
click
clientai[ollama]
cookiecutter
debugpy
environs
fastapi[all]
flake8
flake8-assert-msg
flake8-bugbear
flake8-builtins
flake8-comprehensions
flake8-eradicate
flake8-executable
flake8-isort
flake8-pytest-style
flake8-raise
flake8-string-format
flake8_implicit_str_concat
hatchling>=1.27.0
httpie
marshmallow
markdown
neovim
nodejs
nose
numpy~=1.26.4
ollama
oterm
packaging>=24.2
psycopg2-binary
pudb
pydantic
pydocstyle
pymongo
python-dateutil
pylint
pytest
pytest-cov
pytest-mccabe
pytest-timeout
requests-toolbelt
requests
rich
selenium
setuptools_scm<8.0
setuptools>=75.0.1
shortuuid
six
sqlalchemy
sqlmodel
textual
textual-dev
toml
typer
urllib3
uvicorn
wheel
